{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ .Site.Data.homepage.contact.title }}</h2>
            <div class="row pt-2">
                <div class="col-12 col-lg-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126646.2090268057!2d112.64264370071147!3d-7.275614072147794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fbf8381ac47f%3A0x3027a76e352be40!2sSurabaya%2C%20Surabaya%20City%2C%20East%20Java!5e0!3m2!1sen!2sid!4v1658290682262!5m2!1sen!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-12 col-lg-5 contact__info">
                    <h4>{{ .Site.Data.homepage.contact.phone.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.phone.number }}</span>
                    <h4>{{ .Site.Data.homepage.contact.email.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                    <h4>{{ .Site.Data.homepage.contact.address.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
